<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>683432038572-7k7oves9ion6mukfkg0ln20akv5etrkl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.683432038572-7k7oves9ion6mukfkg0ln20akv5etrkl</string>
	<key>API_KEY</key>
	<string>AIzaSyABhPtVd35K3LqOunjJyQn6XnNesb_bFeY</string>
	<key>GCM_SENDER_ID</key>
	<string>683432038572</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>indevizible.Pot-Monitor</string>
	<key>PROJECT_ID</key>
	<string>plant-monitor-9f72b</string>
	<key>STORAGE_BUCKET</key>
	<string>plant-monitor-9f72b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:683432038572:ios:6634f76fab8dbf41</string>
	<key>DATABASE_URL</key>
	<string>https://plant-monitor-9f72b.firebaseio.com</string>
</dict>
</plist>